<%= form_for @video do |f| %>
  title: <%= f.text_field :title %><br>
  url: <%= f.text_field :url %><br>
  <%= f.submit %>
<% end %>
<% if @video.errors.any? %>
  <ul>
    <% @video.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>