<ul>
<% @videos.each do |video| %>
  <li><%= link_to video.title,controller:'videos',action:'show',id:video.id %>-- <%= video.author.name %>   <!-- <%= link_to 'Delete',video,method: :delete %> -->
  </li>
<% end %>
</ul>

<%= link_to 'Create new playlist','playlists/new' %><br>
<%= link_to 'View playlists','/playlists' %><br>
<%= link_to 'Create new video','videos/new' %><br>
<%= link_to 'Logout','users/sign_out',method: :delete %><br>