<h2><%= @video.title %></h2>
<h4>Uploaded by <%= @video.author.name %></h4>
<iframe src='<%= @video.url %>' width='800px' height='600px' allowfullscreen></iframe><br>
<% if current_user.videos.include?(@video) %>
  <%= link_to 'Update',controller:'videos',action:'edit',id:@video.id %><br>
  <%= link_to 'Delete',@video,method: :delete %><br>
<% end %>
<h2 class='count'>All comments (<%= @comments.length %>)</h2>
<div>
<h4>Share your thoughts</h4>
<%= form_for @comment, :url=>"/videos/#{@video.id}/comments",:action=>'create', :html=>{:class=>@video.id} do |f| %>
  <%= f.text_field :comment %><br>
  <%= f.submit :class=>'comment' %>
<% end %>
<ul class='comments'>
  <% @comments.each do |comment| %>
    <li class="<%= comment.id %>"><%= comment.user.name %> <%= comment.updated_at %></li>
    <p class="<%= comment.id %>"><%= comment.comment %>
      <% if comment.user == current_user %>
        <%= link_to "edit", '',:class=>'edit' %>
        <%= form_for comment, :url=>"/comments/#{comment.id}",:action=>'update', :html=>{:class=>@video.id} do |f| %>
          <%= f.text_field :comment,value:comment.comment %>
          <%= f.submit :class=>'edit-comment',value:"update" %> 
        <% end %>
        <%= link_to "delete",comment,method: :delete,:class=>'delete' %>
      <% end %> 
    </p>
  <% end %>
</ul>
</div>

<% if current_user.playlists != [] %>
  <%=render :template=>"lists/new",:@playlists => @playlists,:@video=>@video,:@list=>@list %>
<% end %>

<input type='text' class='user_id' name='user_id' style='visibility:hidden;' value='<%= current_user.id %>'>