<h2><%= @video.title %></h2>
<h4>Uploaded by <%= @video.author.name %></h4>
<iframe src='<%= @video.url %>' width='800px' height='600px'></iframe><br>
<%= link_to 'Update',controller:'videos',action:'edit',id:@video.id %><br>
<%= link_to 'Delete',@video,method: :delete %><br>
<%=render :template=>"lists/new",:@playlists => @playlists,:@video=>@video,:@list=>@list %>