<!DOCTYPE html>
<html>
<head>
  <title>Metube</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script id="search-result" type="text/x-handlebars-template">
    <div class='row'>
      <div class='small-6 small-centered columns'>
        <img src="{{ img }}">
        <p>{{ title }}</p> 
      </div>
    </div> 
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">
  <%= render "shared/nav" %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class='main'>
    <%= yield %>
  </div>
</body>
</html>
